# root 
# ./.htaccess
RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]


# RewriteRule ^admin/([0-9]+)$ dashboard.php?$1 [L]

# for teacher Rout
# RewriteRule ^teacher/([0-9]+)$ dashboard.php?$1 [L]


RewriteCond %{REQUEST_URI} !^/system-management/app/
RewriteRule ^api/(.*)$ app/api/$1 [L]